# ignore all object-files
*.o

# ignore binary files in bin/ directory
*/bin/*

# ignore object files in obj/ directory
*/obj/*

# ignore binary files in install/ directory
*/install/*

# ignore binary files in build/ directory
*/build/*

# ignore *.out files
*.out

