Checks:             '*,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay,-cppcoreguidelines-owning-memory,-fuchsia-default-arguments,-fuchsia-overloaded-operator,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-pro-type-const-cast,-clang-analyzer-optin.cplusplus.VirtualCall,-performance-unnecessary-copy-initialization,-google-runtime-int,-clang-diagnostic-literal-conversion,-bugprone-narrowing-conversions,-bugprone-exception-escape,-cppcoreguidelines-narrowing-conversions'
WarningsAsErrors:   '*'